header{
  display : flex;
  color: #8FE3CF;
  justify-content: space-between;
  background-color: #2B4865;
}

img{
  min-width: 60px;
}

footer{
  background-color: #256D85;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

.Nav{
  display :flex;
  list-style-type:none;
  gap :30px;
}

div{
  text-align: center;
}